.header {
    display: flex;
   align-items: center; 
   flex-wrap: wrap;
   justify-content: space-between;
   min-height: 155px;
}

header nav {
    padding: 15px;
    margin-right: 5%;
}

.img {
    height: 200px;
    width: 200px;
}