.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
    color: white;
}

.navbar {

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.about {
    color: white;
    background-color: black;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.contacts {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

.selfpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.ph1 {
    max-width: 100%;
    height: auto;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.container {
    position: relative;
  }  

.text-block {
    position: absolute;
    top: 24%;
    right: 64%;
    color: white;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: white;
  }