/* top of page including picture, topics, and name */

.header {
    display: flex;
   align-items: center; 
   justify-content: space-between;
   min-height: 155px;
   list-style-type: none;
}

header nav {
    padding: 0;
    margin-right: 2%;
}

.topics {
    display: flex;
    column-gap: 30px;
}

.img {
    height: 200px;
    width: 200px;
}

/* the project section starts here */

.img2 {
    position: absolute;
    top: 60%;
    right: -250%;
}

.img3 {
    position: absolute;
    right: -250%;
}

.img4 {
    position: absolute;
    top: 60%;
    right: -70%;
}

.images {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    height: 500px;
    width: 500px;
}
